body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 80px;
    margin-left: 90px;
}
.top-part{
    display: flex;
    margin-bottom: 90px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
#skip{
    color: orange;
}
.half-width p{
    font-size: 30px;
    padding: 10%;
    position: relative;
}
.link-btn{
    margin-left: 100px;
    font-size: 30px;
    background-color: orange;
    padding: 30px;
    border-radius: 100px;
    text-decoration: none;
}
.sec-top-part{
    display: flex;
}
.second-part{
    width: 50%;
    margin-bottom: 150px;
}
.second-part img{
    width: 40%;
    margin-left: 300px;
    margin-top: 80px;
}
.sec-top-part{
    background-image: url(images/shapes/7.png);
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-par{
    margin-top: 0;
    margin-left: 80px;
    margin-right: 30px;
    margin-bottom: 0;
    border: 5px inset green;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    padding: 10px;
    text-align: justify;
}
#sec-part-h1{
    margin-top: 150px;
    margin-right: 30px;
    padding: 5px;
}
.recipies h1{
    text-align: center;
    margin-left: 0%;
    font-size: 40px;
}
.recipies p{
    text-align: center;
    margin: 0 625px 0 625px;
    margin-bottom: 50px;
}
.reci-titl{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
}
.reci-img-box-left{
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgb(126, 113, 113);
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
.reci-img-box-right{
    box-shadow: 0px 0px 30px rgb(126, 113, 113);
    border-radius: 30px;
    margin-right: 200px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
#left-img{
    width: 570px;
    height: 300px;
    margin-left: 0;
    margin-top: 50px;
    
}
#right-img{
    width: 570px;
    height: 300px;
    margin-right: 0px;
    margin-top: 50px;
}
.you-ins{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(175, 155, 155);
    margin-bottom: 150px;
}
.you-half{
    width: 33.333333%;
    margin-top: 60px;
    margin-bottom: 50px;
    }
.you-half h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.bottom-sec{
    background-color: black;
    margin: 0px;
    height: 200px;
    padding: 10px;
    
}
body{
    margin: 0;
}
#eat-span{
    color: orange;
}
.bottom-sec h1{
    font-size: 30px;
    text-align: center;
    color: rgb(180, 172, 172);
    margin-left: 0;
}
.bottom-sec p{
    color: white;
    text-align: center;
}